#root {
  height: 100%;
}

#content-view {
  padding: 0px;
  margin: 0px;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 1px;
  background-color: #3c3f41;
  border-radius: 0px 0px 10px 10px;
  color: white;
  border-top: 1px solid red;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 20px 1px;
}

.box > li {
  background-color: #3c3f41;
  color: white;
}

.content-row {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.content-box {
  margin: 20px;
  padding: 50px;
  display: table;
}

.sidebar-left {
  text-align: center;
  border: 1px black;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px 1px;
}

.sidebar-left a {
  color: grey;
}
